body{
    margin:0px;
    padding:20px;
    background:#f2f5f8;
    font-family:Arial, sans-serif;
}

h3 {
    margin-bottom: 10px;
    color: #333;
}
.chat {
    background:white;
    padding:12px;
    border-radius:12px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
    width: 350px;
    margin-bottom: 25px;
}

.chat p{
    margin:5px 0;
}
.msg {
    background-color:#128C7E;
    color:white;
    padding: 8px 10px;
    border-radius:8px;
    width: fit-content;
    max-width:90%;
}

.buttons {
    margin-top: 8px;
}

.btn {
    background-color:#e6f0ff;
    color: #003366;
    padding: 5px 14px;
    border-radius: 4px;
    border: 1px solid #aac7ff;
    font-size: 13px;
    cursor: pointer;
    margin-right: 5px;
}

.btn:hover {
   background-color: #d8e8ff;
}

.time-box {
    font-size:12px;
    color: #666;
    margin-top: 8px;
}
